<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VolMix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VolMix.Seettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VolMix.Properties.Settings>
            <setting name="SelectedApplicationName" serializeAs="String">
                <value />
            </setting>
        </VolMix.Properties.Settings>
        <VolMix.Seettings>
            <setting name="SelectedApplicationName" serializeAs="String">
                <value />
            </setting>
        </VolMix.Seettings>
    </userSettings>
</configuration>